{% extends 'base.html.twig' %}


{% block body %}

<section id="portfolio"  class="section-bg">
<h1>Désolé, aucun appartement ne correspond a votre recherche</h1>
<hr>
<div class="row portfolio-container">


</div>
</section>
{% endblock %}